@import "../../../styles.scss";

.add-product {
  width: 450px;
  height: fit-content;
  text-align: center;
  background: var(--theme-bg-color);
  border: 1px solid var(--theme-text-color);
  @media only screen and (max-width: 500px) {
    width: 90%;
  }
}

.data-saved {
  color: #13ff03;
  margin-top: 10px;
}
