@import '../../../styles.scss';

.add-product {
    width     : 450px;
    height    : fit-content;
    text-align: center;
    background: #203158;
    border-top: 2px solid white;
}

.data-saved {
    color     : #13ff03;
    margin-top: 10px;
}