<div class="add-product">
    <form [formGroup]="addProduct" (ngSubmit)="addProductCard()">
        <div class="form-box-inputs">
            <div class="form-heading">Add Product</div>
            <div>
                <input type="text" placeholder="Enter Company Name" formControlName="companyName" class="form-input">
                <div *ngIf="submitted && f.companyName.errors" class="invalid-input">
                    <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                </div>
                <input type="number" formControlName="quantity" placeholder="Enter Quantity" class="form-input" min=0>
                <div *ngIf="submitted && f.quantity.errors" class="invalid-input">
                    <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                </div>
                <input type="number" formControlName="price" placeholder="Enter Price" class="form-input" min=0>
                <div *ngIf="submitted && f.price.errors" class="invalid-input">
                    <div *ngIf="f.price.errors.required">Price is required</div>
                </div>
                <select class="select-option" formControlName="selectedClass">
                    <option>Select Card Type</option>
                    <option>Silver</option>
                    <option>Platinum</option>
                    <option>Gold</option>
                </select>
            </div>
            <div class="form-buttons">
                <button type="reset" class="form-reset">Reset</button>
                <button type="submit" class="form-login">Add</button>
            </div>
        </div>
    </form>
</div>