<div class="header-wrapper">
    <div class="header-logo">
        <span>V-CARD</span>
    </div>
    <div class="header-menus">
        <div routerLink='/home'>
            Home
        </div>
        <div routerLink='/login' *ngIf="!flagForUserLogged">
            Login
        </div>
        <div routerLink='/register' *ngIf="!flagForUserLogged">
            Register
        </div>
        <div class="outline" (click)="logout()" *ngIf="flagForUserLogged">
            Logout
        </div>
    </div>
</div>