@import '../../../styles.scss';

.edit-wrapper {
    display        : flex;
    justify-content: space-between;

    .edit-lists {
        height  : 500px;
        width   : 400px;
        overflow: scroll;
    }
}