@import "../../../styles.scss";
body {
  background: var(--theme-body);
}
.product {
  &-wrapper {
    display: flex;
    @media only screen and (max-width: 750px) {
      display: contents;
    }
  }

  &-sidebar {
    width: 200px;
  }

  &-option-result {
    margin: auto;
    @media only screen and (max-width: 750px) {
      text-align: center;
      text-align: -webkit-center;
    }
  }
}
